* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'nunito' , Verdana, Geneva, Tahoma, sans-serif;
}
.link {
    margin: 1.5em;
}
img {
    object-fit: cover;
    display: block;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 0 !important;
    height: 100vh;
}
.image img{
    height: 35vmax;
    width: 37vmax;
    margin-top: 0;
}
.sample-img img{
    height: 7vmax;
    width: 6.5vmax;
}
.product-detail {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.image , .detail-item {
    width: 50%;
}
.sample-img {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 2vh;
}
.active {
    opacity: 0.4;
}
/* .product-detail .image {
    opacity: 0;
} */
.detail {
    margin: 0 1.5em;
    display: flex;
    flex-direction: column;
}
.product-detail .detail .product-name {
    font-size: 2.5em;
}
.product-detail .product-price {
    margin-top: 0px;
}
.product-detail .detail .product-price span{
    font-weight: 900;
    font-size: 1.5em;
}
.product-price .dashed {
    opacity: 0.5;
    color: gray;
    font-weight: 900;
    position: relative;
    margin-right: 0.2em;
}
.product-price .dashed::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background: gray;
    z-index: 11000;
}
.product-price .normal {
    color: green;
    margin-left: 10px;
    font-weight: 900;
}
svg {
    height: 15px;
    width: 15px;
    /* border: 3px solid green;
    fill: yellowgreen; */
}
/* svg {
    filter: drop-shadow(1px 1px 0px #111) drop-shadow(-1px 1px 0px #111) drop-shadow(1px -1px 0px #111) drop-shadow(-1px -1px 0px #111);
  } */
path {
    /* fill: none;
    stroke: #333;
    stroke-width: 1;
    stroke-dasharray: 2,2;
    stroke-linejoin: round; */
    fill: none;
    stroke: #000003;
    stroke-width: 30;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  .star i {
    color: #ddd;
}
.star i:first-of-type {
    color: #e0c00b;
}
.qnsize {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0;
}
.detail .quantity {
    flex: 0 0 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
    color: #eee;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 900;
    margin: 0 1em;
}
.detail .quantity * {
    display: block;
}
.detail .quantity .num {
    flex: 1 0 0;
    align-self: center;
    text-align: center;
}
.button {
    padding: 10px;
    margin: 1em 0.1em;
    background: #06b123;
    color: #eee;
    border: none;
    font-size: 1.5em;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
}
.btn {
    flex: 1 0 0;
    font-size: 1em !important;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.details p , .details h2 {
    margin: 1.5em 10px;
}
.more-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 1em;
    text-transform: uppercase;
    background: linear-gradient(to left,#0F2259,#3258A6,#77ACF2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.more-products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.more-products .more img {
    height: 15vmax;
    width: 15vmax;
    border-radius: 10px;
}

/* select {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: rgb(98, 43, 226);
    color: white;
}
select option {

    border-radius: 10px;
    color: yellow;
} */
.select-css {
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    transition: all 0.4s ease-in-out;
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}
.nav-hide {
    z-index: -100000;
    transform: translateX(-350px);
    transition: transform 0.5s ease-in-out,
                z-index 1s ease-in-out;
}
.nav-show {
    opacity: 1;
    z-index: 10000000000;
    animation: nav-show 0.5s ease-in-out;
}
nav {
    position: absolute !important;
}