* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito',Verdana, Geneva, Tahoma, sans-serif;
}
.inverse {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    transition: background 0.5s ease-in-out;
}
.inversea {
    color: #333;
    transition: color 0.5s ease-in-out;
}
.slider {
    width: 100%;
    height: 80vh;
    background: yellowgreen;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    height: 50px;
    width: 50px;
    background: rgba(119, 79, 79, 0.2 );
    line-height: 50px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    color: #eee;
    transition: all 0.4s ease-in;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}
.arrow:hover {
    background: rgba(0,0,0,0.3);
    transition: background 0.4s ease-in-out;
}
.is_hide {
    opacity: 0;
    background: none;
    transition: all 0.4s ease-in;
}
.images::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0.8));
    z-index: 10;
}
.images {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    transition: transform 1s linear;
}
.image {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    transition: transform 0.6s linear;
}
#img1 {
    order: 1;
}
#img2 {
    order: 2;
}
#img3 {
    order: 3;
}
/* @keyframes anim {
    0% {
        transform: none;
    }
    100% {
        transform: translateX(-100vw);
    }
} */
.dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
}
.dot {
    height: 15px;
    width: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    background: none;
    transition: transform 0.2s ease-in-out;
}
.dot:hover {
    transform: translateY(-4px);
    transition: transform 0.2s ease-in-out;
}
#dot1 {
    order: 1;
}
#dot2 {
    order: 2;
}
#dot3 {
    order: 3;
}
.active {
    background: rgba(255,255,255,0.8);
    transition: background 0.6s ease-in-out;
}
.nav-hide {
    z-index: -100000;
    transform: translateX(-350px);
    transition: transform 0.5s ease-in-out,
                z-index 1s ease-in-out;
}
.nav-show {
    opacity: 1;
    z-index: 10000000000;
    animation: nav-show 0.5s ease-in-out;
}
.slogon {
    text-align: center;
    background: url('img/all.jpg');
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8em;
    line-height: 20vh;
    /* color: white; */
}
.shop {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop > p {
    align-self: flex-start;
    margin-left: 1vw;
    color: gray;
}
.shop > p a {
    text-decoration: none;
    color: gray;
    transition: all 0.3s ease-in-out;
}
.shop >p a:hover {
    color: black;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}
.shop .title {
    margin: 0.6em;
    font-size: 3em;
    font-weight: 900;
    background: linear-gradient(to left,#0F2259,#3258A6,#5a99ec);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.products .product .img {
    width: 35vmax;
    height: 30vmax;
    overflow: hidden;
}
.products .product .image_p {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    /* border-radius: 5px; */
    transition: all 0.5s ease-in-out;
}
.image_p_hover {
    filter: blur(5px) grayscale(100);
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.products .product {
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}
.products .product .discount {
    color: white;
    background: black;
    display: inline-block;
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
    /* border-top-right-radius: 5px; */
    z-index: 1000;
}
.products .product .hover-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    color: rgb(204, 124, 19);
    width: 100%;
    letter-spacing: 0px;
    cursor: pointer;
}
.products .product .hover-show a {
    text-decoration: none;
    color: rgb(223, 17, 17);
}
.hide {
    opacity: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
}
.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}
.products .product .hover-show .show-more a, .products .product .hover-show .cart {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
.products .product .hover-show .show-more {
    transition: all 0.4s ease-in-out;
}
.products .product .hover-show .show-more:hover , .products .product .hover-show .cart:hover {
    transform: scale(1.2);
    margin: 15px;
    transition: all 0.4s ease-in-out;
}
.products .product .hover-show i {
    font-size: 2em;
}
.products .product .product_name , .products .product .product_price , .products .product .rating{
    text-align: center;
    margin: 5px;
}
.products .product .product_name a {
    color: black;
}
.products .product .product_price .dashed {
    /*text-decoration: line-through;
     -webkit-text-decoration-thickness: 3px;
    text-decoration-thickness: 2px;
    text-decoration-style: solid; */
    color: red;
    margin-right: 10px;
    font-weight: 900;
    position: relative;
}
.products .product .product_price .dashed::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 100%;
    background: red;
    z-index: 11000;
}
.products .product .product_price .normal {
    color: green;
    margin-left: 10px;
    font-weight: 900;
} 
.rating i {
    color: #ddd;
    cursor: pointer;
}
.rating i:first-of-type {
    color: #e0c00b; 
}
.catagory {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px 30px 10px;
}
.catagory p {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition:background 0.4s ease-in-out;
}
.catagory p:nth-child(1){
    background-color: rgba(204, 124, 19,0.2);
    border-color: rgb(204, 124, 19);
}
.catagory p:nth-child(2){
    background-color: rgba(19, 115, 204, 0.2);
    border-color: rgb(19, 115, 204);
}
.catagory p:nth-child(3){
    background-color: rgba(6, 88, 17, 0.2);
    border-color: rgb(6, 88, 17);
}
.catagory p:nth-child(4){
    background-color: rgba(64, 3, 70, 0.2);
    border-color: rgb(64, 3, 70);
}
.catagory p:nth-child(5){
    background-color: rgba(56, 78, 3, 0.2);
    border-color: rgb(56, 78, 3);
}
.catagory p:nth-child(1):hover{
    background-color: rgba(204, 124, 19,0.8);
    border-color: rgb(204, 124, 19);
}
.catagory p:nth-child(2):hover{
    background-color: rgba(19, 115, 204,0.8);
    border-color: rgb(19, 115, 204);
    transition:background 0.4s ease-in-out;
}
.catagory p:nth-child(3):hover{
    background-color: rgba(6, 88, 17, 0.8);
    border-color: rgb(6, 88, 17);
    transition:background 0.4s ease-in-out;
}
.catagory p:nth-child(4):hover{
    background-color: rgba(64, 3, 70, 0.8);
    border-color: rgb(64, 3, 70);
    transition:background 0.4s ease-in-out;
}
.catagory p:nth-child(5):hover{
    background-color: rgba(56, 78, 3, 0.8);
    border-color: rgb(56, 78, 3);
    transition:background 0.4s ease-in-out;
}